PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/urlshortener?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_super_secret_access_jwt_key
JWT_REFRESH_SECRET=your_super_secret_refresh_jwt_key
APP_URL=https://your-backend-app.onrender.com
CLIENT_URL=https://your-frontend-app.vercel.app
NODE_ENV=production
